<div style="text-align:center">
  <h1>
    Welcome to the eTRANSAFE Angular minimal example!
  </h1>
</div>

<form name="form" (ngSubmit)="ff.form.valid && login(mModel.username, mModel.password)" #ff="ngForm" novalidate>
  <input type="text"
         id="username"
         name="username"
         placeholder="Email or Username"
         [(ngModel)]="mModel.username"
         #username="ngModel" required
  >
  <input type="password"
         id="password"
         name="password"
         placeholder="Password"
         [(ngModel)]="mModel.password"
         #password="ngModel"
         password required
  >
  <button [disabled]="(!ff.form.valid) || mAuthenticating" type="submit">Log In</button>
</form>

<div *ngIf="mErrorStatus !== null" style="color: red">
  {{mErrorStatus}} {{mErrorMessage}}
</div>

<div *ngIf="mUser && mUser.authenticated">
  <div [innerHTML]="mUserString"></div>
  <button (click)="logout()">Log Out</button>
  <button (click)="showComponents()">Load Component List</button>
  <div [innerHTML]="mServicesString"></div>
</div>
